// ADD COLORS
$dark: (
  feat: #e5f3e7,
  nav: #b7cfbb,
  skill: #415143,
  pro: #deeee0,
  abt: #cad7cc,
  cnct: #b7cfbb,
);
$dark-title: (
  s-title: #51ff82,
  p-title: #005f5f,
  a-title: #0b3718,
  c-title: #14b641,
);
$dark-sub: (
  feat: #008080,
  s-sub: #fcff64,
  p-sub: #585858,
  a-sub: #fe5959,
  c-sub: #ffffff,
);
$dark-text: (
  p-det: #626262,
  a-ab: #444444,
  c-scl: #b2c9b6,
);
$home-dark: (
  title: #00ffff,
  sub: #009797,
);
$skill-dark: (
  card: #fcff64,
  title: #000,
  sub: #415143,
);
$pro-dark: (
  title: black,
);
$hire-dark: (
  bg: #4ee36f,
  title: white,
  sub: #7c7c7c,
  btn: #f9e322,
);
$foot-dark: (
  bg: black,
  title: #a8a8a8,
  link: #bdbbbb,
  line: #7e7e7e,
  end: white,
);
